@model  MvcCv.Models.Entity.TblAdmin

@{
    ViewBag.Title = "AdminDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<br />
<h4>Kullanıcı Güncelleme Sayfası</h4>
<br />


<form method="post">

    @Html.HiddenFor(x => x.ID)
    <br />

    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />

    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        Güncelle
    </button>

    <a href="/Admin/Index/" class="btn btn-outline-info" style="float:right">
        <i class="fa fa-undo" aria-hidden="true"></i>
        Admin Sayfasına Geri Dön
    </a>
</form>


